$color-primary: rgb(51, 206, 64);
$color-primary-light: rgb(63, 223, 76);
$color-primary-dark: rgb(43, 165, 53);

$color-white: white;
$color-gray-transparant: rgba(51, 50, 50, 0.7);
$color-gray-dark: rgb(51, 50, 50);
$color-black: rgb(22, 22, 22);

$color-blue-dark: #030027;

$color-accent: #ad5502;

$fs1: 2.3rem;
$fs2: 2rem;
$fs4: 1.4rem;
$fs5: 1.15rem;
$fs6: 1rem;